#crosshair {
    position: absolute;
    text-align: center;
}

#infoText, #question {
    font-size: max(22px, 2vw);
    background-color: transparent;
    border: transparent;
    color: black;
    width: calc(100% - 5px);
    text-align: center;
}
#time {
    font-size: 30px;
}
.btnrow {
    align-items: center;
    flex-wrap: nowrap;
}
.card {
    animation: popIn 0.2s ease-out;
}

#finishModal {display: none;}
#finishInner {
    padding: 10px;
    background-color: #15222E;
    border-radius: 0.25em;
    width: fit-content;
    margin: auto;
    margin-top: 5vh;
}

#crosshair {
    display: none;
    user-select: none;
    pointer-events: visible;
}
@keyframes shoot {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(1.5);
    }
    100% {
        transform: translateX(-50%) translateY(-50%);
    }
}
#crosshair img {
    height: 100px;
    position: absolute;
    padding: 1000px;
    cursor: none;
    transform: translateX(-50%) translateY(-50%);
}
#crosshair img:active {
    animation: shoot 0.1s;
}
#crosshair p {
    position: absolute;
    transform: translateX(40px) translateY(-50px) rotate(-15deg);
    font-size: 22px;
    width: 40vw;
    overflow-wrap: break-word;
}
#terms {
    height: 100%;
}
.mobile { display: none; }
@media only screen and (max-width: 800px) {
    #terms {
        flex-direction: column;
    }
    .mobile { display: block; }
    .desktop { display: none; }
    #crosshair img {
        opacity: 0;
        cursor: default;
    }
    @keyframes shoot {
        0% {
            transform: translateX(-50%) translateY(-50%) scale(1.5);
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
        }
    }
}